co
<div class="container text-white">
    <form class="row g-2 p-4">
        <div class="text-center header">
            <h4 class="">Registration Page</h4>
        </div>
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="mobileNumber">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="House No./Village">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Area, Street or Landmark">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>Uttar Pradesh</option>
                <option>Other than UP</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Pincode</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="">
            <label for="formFile" class="form-label">Photo</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="col-6 text-center">
            <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>
        <div class="col-6 text-center">
            <button type="text" class="btn btn-info px-4 col-12 text-white">Reset</button>
        </div>

    </form>
</div>