<div class="container text-white">
    <form #userUpdateForm="ngForm" class="row g-2 p-4" (ngSubmit)="onSubmit(userUpdateForm.value)">
        <div class="text-center header">
            <h4 class="">User Update Page</h4>
        </div>

        <!-- SELECT ROLE -->
        <div class="col-6">
            <label for="roleId" class="form-label">Role</label>
            <select class="form-control" [ngModel]="user.role" name="roleId" id="roleId">
                <!-- <option [ngValue]="undefined">--Select Role--</option> -->
                <option *ngFor="let role of roles" [ngValue]="role.roleId">{{role.roleName}}</option>
            </select>
            <!-- <span *ngIf="selectRole.invalid && selectRole.touched" class="error-msg">Selece valid role</span> -->
        </div>

        <!-- PHOTO -->
        <div class="col-6">
            <label for="formFile" class="form-label">Photo</label>
            <input class="form-control" type="file" id="formFile" name="photo" />

        </div>

        <!-- FIRST NAME -->
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input #firstName="ngModel" type="text" class="form-control" id="firstName" minlength="3"
                maxlength="50" required pattern="[a-zA-Z]*" name="firstName" 
                autocomplete="off" oninput="this.value = this.value.toUpperCase()"
                [ngModel]="user.firstName"/>
            <span *ngIf="firstName.invalid && firstName.touched" class="error-msg">Enter valid Firstname</span>
        </div>


        <!-- LAST NAME -->
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input #lastName="ngModel" type="text" class="form-control" id="lastName" name="lastName" 
            [ngModel]="user.lastName" required pattern="[a-zA-Z]*" autocomplete="off"
            oninput="this.value = this.value.toUpperCase()" />
            <span *ngIf="lastName.invalid && lastName.touched" class="error-msg">Enter valid Lastname</span>
        </div>

        <!-- EMAIL ID -->
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input #email="ngModel" [ngModel]="user.emailId" email type="email" class="form-control" 
            required id="inputEmail4" name="emailId" autocomplete="off" />
            <span *ngIf="email.invalid && email.touched" class="error-msg">Enter valid email</span>
        </div>

        <!-- MOBILE NUMBER -->
        <div class="col-md-6">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input #mobileNo="ngModel" [ngModel]="user.mobileNo" minlength="10" maxlength="10" pattern="[6789][0-9]{9}" type="text" 
            class="form-control" id="mobileNumber" required name="mobileNo" 
            (keypress)="numberOnly($event)" autocomplete="off" />
            <span *ngIf="mobileNo.invalid && mobileNo.touched" class="error-msg">Ente valid mobile</span>
        </div>

        <!-- ADDRESS1  -->
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input #address="ngModel" required [ngModel]="user.address" pattern="[a-zA-Z ]*" type="text" class="form-control" 
            id="inputAddress" placeholder="Village/Town" name="address" autocomplete="off"
            oninput="this.value = this.value.toUpperCase()"/>
            <span *ngIf="address.invalid && address.touched" class="error-msg">Enter valid address</span>
        </div>

        <!-- ADDRESS 2 -->
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input #address2="ngModel" required [ngModel]="user.address2" pattern="[a-zA-Z ]*" type="text" class="form-control" 
            id="inputAddress2" placeholder="Area, Street or Landmark" name="address2" autocomplete="off"
            oninput="this.value = this.value.toUpperCase()"/>
            <span *ngIf="address2.invalid && address2.touched" class="error-msg">Ente valid address</span>
        </div>

        <!-- CITY -->
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input #city="ngModel" [ngModel]="user.city" required pattern="[a-zA-Z ]*" type="text" class="form-control" 
            id="inputCity" name="city" autocomplete="off" 
            oninput="this.value = this.value.toUpperCase()"/>
            <span *ngIf="city.invalid && city.touched" class="error-msg">Enter valid city name</span>
        </div>

        <!-- STATE  -->
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <input #state="ngModel" [ngModel]="user.state" required pattern="[a-zA-Z ]*" type="text" 
            id="inputState" class="form-control" name="state" autocomplete="off"
            oninput="this.value = this.value.toUpperCase()"/>
            <span *ngIf="state.invalid && state.touched" class="error-msg">Enter valid state name</span>
        </div>

        <!-- PINCODE  -->
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Pincode</label>
            <input #pincode="ngModel" [ngModel]="user.pincode" required pattern="[1-9][0-9]{5}" minlength="6" maxlength="6" 
            type="text" class="form-control" id="inputZip" name="pincode"
            (keypress)="numberOnly($event)" autocomplete="off"/>
            <span *ngIf="pincode.invalid && pincode.touched" class="error-msg">Invalid</span>
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="col-6 text-center">
            <button [disabled]="userUpdateForm.invalid" type="submit" class="btn btn-primary col-12">Submit</button>
        </div>

        <!-- RESET BUTTON  -->
        <div class="col-6 text-center">
            <button type="reset" class="btn btn-info px-4 col-12 text-white">Reset</button>
        </div>

        <!-- FORM END -->
    </form>
</div>