<div class="container text-white">
    <form #rolef="ngForm" class="row p-3" (ngSubmit)="onSubmit(rolef)  ">
        <div class="row">
            <div class="form-group col-8">
                <div class="row px-2">
                    <!-- <label for="inputRoleName" class="form-label col-3">Role Name</label> -->
                    <input #inputRoleName="ngModel" type="text" name="inputRoleName" id="inputRoleName" 
                        class="form-control-sm mb-1 col-12" pattern="[a-zA-Z ]*" minlength="4" maxlength="50"
                        placeholder="Add New Role" [(ngModel)]="role.roleName" autocomplete="off" required
                        oninput= "this.value = this.value.toUpperCase()" />
                        <span *ngIf="inputRoleName.invalid && inputRoleName.touched" class="error-msg">Enter valid role</span>
                </div>
            </div>
            <div class="text-center col-4">
                <button [disabled]="rolef.invalid" type="submit" class="btn btn-primary btn-sm col-12">Submit</button>
            </div>
        </div>
        <div>
            <p class="text-bold">Note : Role id will generate automatically...</p>
        </div>
    </form>
    <div class="container text-center role-list">
        <h4>List of Roles</h4>
        <div class="table-role-list">
            <table class="table text-white">
                <thead class="col-12">
                    <tr>
                        <th> Role Id</th>
                        <th> Role Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>{{role.roleId}}</td>
                        <td>{{role.roleName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>