<div class="container text-white">
    <h2 class="text-center header">LIST OF ALL ACTIVE USERS</h2>
    <table class="table text-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Email</th>
                <th>City</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName +" "+ user.lastName}}</td>
                <td>{{user.mobileNo}}</td>
                <td>{{user.emailId}}</td>
                <td>{{user.city}}</td>
                <td>{{user.role.roleName}}</td>
                <td >
                    <button (click)="getUser(user.userId)" class="btn btn-info btn-sm mx-1">Update</button>
                    <button (click)="inActiveUser(user.userId)" class="btn btn-danger btn-sm mx-1">Delete</button>
                    <!-- <button (click)="viewUser(user.userId)" class="btn btn-info btn-sm mx-1">View</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
